@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NhlArena</title>

    <link rel="stylesheet" href="~/lib/materialize/materialize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/Layout.css" />
    @RenderSection("Stylesheets", required: false)
</head>
<body>
    @if (Context.Session.GetString("username") == null)
    {
        <div class="gradient"></div>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content grey darken-3">
            <li><a class="orange-text text-accent-3" href="#!">one</a></li>
            <li><a class="orange-text text-accent-3" href="#!">two</a></li>
            <li><a class="orange-text text-accent-3" href="#!">three</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper red darken-4">
                <a href="/Home/Index" class="brand-logo orange-text text-accent-3">NHL Arena</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="orange-text text-accent-3" href="/Home/login">Login</a></li>
                    <li><a class="orange-text text-accent-3 " href="/Home/SignUp">SignUp</a></li>
                </ul>
            </div>
        </nav>
    }
    else
    {
        <div class="gradient"></div>
        
        <nav>
            <div class="nav-wrapper red darken-4">
                <a href="/Home/Index" class="brand-logo orange-text text-accent-3">NHL Arena</a>
                <ul class="right hide-on-med-and-down">
                    <li><a>@Context.Session.GetString("username")</a></li>
                    <li><a class="orange-text text-accent-3" href="/User/Logout">Logout</a></li>
                    <li><a class="orange-text text-accent-3 " href="/User/Cutomise">Customise</a></li>                    
                </ul>
            </div>
        </nav>
    }



    <Main class="">
        @RenderBody()
    </Main>

    <footer class="page-footer red darken-4" style="padding-top: 1px;">
        <div class="container row orange-text text-accent-3">
            <p class="center-align col s2"><a class="orange-text text-accent-3" href="/Home/Index">Home Page</a></p>
            <p class="center-align col s2"><a class="orange-text text-accent-3" href="/Home/About">About</a></p>
            <p class="center-align col s2"><a class="orange-text text-accent-3" href="#">Link</a></p>
            <p class="center-align col s2"><a class="orange-text text-accent-3" href="/Home/Credits">Credits</a></p>
            <p class="center-align col s4">&copy; 2018 - NhlArena</p>
        </div>
    </footer>
    <script src="~/lib/jQuery v3.3.1.js"></script>
    <script src="~/lib/materialize/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown();
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
